# Database setup

Import libraries

In [ ]:
import mysql.connector as connector

Connect to localhost DB

In [ ]:
connection = connector.connect(user = "mysql", password = "mysql")
cursor = connection.cursor()
print("Connected to DB")

Delete DB if exists to grant a fresh start

In [ ]:
cursor.execute("DROP DATABASE IF EXISTS LittleLemonDB")

Create and Use DB

In [ ]:
cursor.execute("CREATE DATABASE LittleLemonDB") 
print("Little Lemon DB created")

In [ ]:
cursor.execute("USE LittleLemonDB")

Generate tables using SQL code generated from the ER diagram with the Forward Engineer function of MySQL Workbench

In [ ]:
cursor.execute("""
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema LittleLemonDB
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema LittleLemonDB
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `LittleLemonDB` ;
USE `LittleLemonDB` ;

-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Bookings`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Bookings` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `date` DATETIME NOT NULL,
  `tableNo` INT NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`MenuItems`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`MenuItems` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `courseName` VARCHAR(45) NULL,
  `starterName` VARCHAR(45) NULL,
  `dessertName` VARCHAR(45) NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Menus`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Menus` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `menuItemsId` INT NOT NULL,
  `name` VARCHAR(45) NULL,
  `cuisine` VARCHAR(45) NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_Menus_1_idx` (`menuItemsId` ASC) VISIBLE,
  CONSTRAINT `fk_Menus_1`
    FOREIGN KEY (`menuItemsId`)
    REFERENCES `LittleLemonDB`.`MenuItems` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Customers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Customers` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `fullName` VARCHAR(45) NOT NULL,
  `phoneNumber` VARCHAR(45) NULL,
  `email` VARCHAR(45) NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Orders`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Orders` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `menuId` INT NULL,
  `customerId` INT NULL,
  `totalCost` DECIMAL NULL,
  `quantity` INT NULL,
  `bookingId` INT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_Orders_1_idx` (`menuId` ASC) VISIBLE,
  INDEX `fk_Orders_2_idx` (`customerId` ASC) VISIBLE,
  INDEX `fk_Orders_3_idx` (`bookingId` ASC) VISIBLE,
  CONSTRAINT `fk_Orders_1`
    FOREIGN KEY (`menuId`)
    REFERENCES `LittleLemonDB`.`Menus` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Orders_2`
    FOREIGN KEY (`customerId`)
    REFERENCES `LittleLemonDB`.`Customers` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Orders_3`
    FOREIGN KEY (`bookingId`)
    REFERENCES `LittleLemonDB`.`Bookings` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`OrderStatus`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`OrderStatus` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `orderId` INT NOT NULL,
  `date` DATETIME NULL,
  `status` VARCHAR(45) NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_OrderStatus_1_idx` (`orderId` ASC) VISIBLE,
  CONSTRAINT `fk_OrderStatus_1`
    FOREIGN KEY (`orderId`)
    REFERENCES `LittleLemonDB`.`Orders` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Staff`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Staff` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `fullName` VARCHAR(45) NOT NULL,
  `role` VARCHAR(45) NOT NULL,
  `salary` FLOAT NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

""")

Insert dummy data in the tables

In [ ]:
cursor.execute("""
INSERT INTO Customers (fullName, phoneNumber, email)
VALUES
('Anna Iversen','+123456','a.iversen@mail.com'),
('Joakim Iversen', '+138756', 'j.iversen@mail.com'),
('Vanessa McCarthy', '+144459', 'v.mccarthy@mail.com'),
('Marcos Romero', '+121006', 'm.romero@mail.com'),
('Hiroki Yamane', '+100437', 'h.yamane@mail.com'),
('Diana Pinto', '+199559', 'd.pinto@mail.com');      
""")
               
cursor.execute("""               
INSERT INTO Bookings (date, tableNo)
VALUES
('2024-01-05 19:30:00',1),
('2024-01-05 19:30:00',6),
('2024-01-05 20:00:00',3),
('2024-01-05 20:00:00',8),
('2024-01-05 20:30:00',2);                    
""")

cursor.execute("""
INSERT INTO MenuItems (courseName, starterName, dessertName)
VALUES
('Olives','Olive Starters','Olive Dessert'),
('Flatbread','Bread Starters', 'Olive Dessert'),
('Minestrone', 'Soup Starters', 'Olive Dessert'),
('Tomato bread','Tomato Starters', 'Olive Dessert'),
('Falafel', 'Falafel Starters', 'Olive Dessert');
""")
               
cursor.execute("""                              
INSERT INTO Menus (menuItemsId, name, cuisine)
VALUES
(1, 'Olives menu','Italian'),
(2, 'Flatbread menu','Italian'),
(3, 'Minestrone menu', 'Italian'),
(4, 'Tomato bread menu','American'),
(5, 'Falafel menu', 'Arab');               
""")

cursor.execute("""
INSERT INTO Orders (menuId, customerId, totalCost, quantity, bookingId)
VALUES
(2, 1, 200, 5, 1),
(3, 4, 30, 1, 2),
(3, 2, 160, 4, 3),
(1, 5, 35, 1, 4),
(4, 3, 80, 2, 5); 
""")                  

cursor.execute("""               
INSERT INTO Staff (fullName, role, salary)
VALUES
('Mario Rossi', 'Owner', 100000),
('Luigi Bianchi', 'Chef', 70000),
('Marco Verdi', 'Waiter', 40000); 
""")

Module 2 - Task 1.1 - Create OrdersView virtual table

In [ ]:
cursor.execute("""
CREATE VIEW OrdersView AS
    SELECT id, quantity, totalCost
    FROM Orders
    WHERE Quantity > 2;
""")

In [ ]:
cursor.execute("SELECT * FROM OrdersView;")
results = cursor.fetchall()
for result in results:
    print(results)

Module 2 - Task 1.2 - Query DB for information on all customers with orders that cost more than $150

In [ ]:
cursor.execute("""
SELECT Customers.id, Customers.fullName, Orders.id, Orders.totalCost, Menus.name, MenuItems.courseName 
FROM Customers 
INNER JOIN Orders ON Orders.customerId = Customers.Id
INNER JOIN Menus ON Orders.menuId = Menus.id
INNER JOIN MenuItems ON Menus.menuItemsId = MenuItems.id 
WHERE Orders.totalCost > 150;
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 1.3 - Find all menu items for which more than 2 orders have been placed

In [ ]:
cursor.execute("""
SELECT DISTINCT name FROM Menus WHERE id = ANY(SELECT menuId FROM Orders WHERE quantity > 2);
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 2.1 - Create a procedure that displays the maximum ordered quantity in the Orders table.

In [ ]:
cursor.execute("""
CREATE PROCEDURE GetMaxQuantity()  
SELECT MAX(Quantity) AS "Max Quantity in Order"
FROM Orders;
""")

In [ ]:
cursor.execute("""
CALL GetMaxQuantity();
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 2.2 - Create a prepared statement called GetOrderDetail

In [ ]:
cursor.execute("""
PREPARE GetOrderDetail  FROM 'SELECT id, quantity, totalCost FROM Orders WHERE customerId = ?';
""")

In [ ]:
cursor.execute("""
SET @id = 1;
EXECUTE GetOrderDetail USING @id;
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 2.3 - Create a stored procedure called CancelOrder

In [ ]:
cursor.execute("""
CREATE PROCEDURE CancelOrder(IN targetId INT)
BEGIN
    DECLARE orderExists INT;
    -- Check for order existence
    SELECT COUNT(*) INTO orderExists FROM Orders WHERE id = targetId;
    -- If exists, delete and notify
    IF orderExists > 0 THEN
        DELETE FROM Orders WHERE id = targetId;
        SELECT CONCAT('Order ID ', targetId, ' has been canceled.') AS Result;
    ELSE
        -- Else, error message
        SELECT 'Order not found. No action taken.' AS Result;
    END IF;
END;
""")

In [ ]:
cursor.execute("""
CALL CancelOrder(3);
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 3.2 - Create a stored procedure called CheckBooking to check whether a table in the restaurant is already booked.

In [ ]:
cursor.execute("""
CREATE PROCEDURE CheckBooking (target_date DATE, target_table INT)
BEGIN
  DECLARE bookedTable INT DEFAULT 0;
  -- Count bookings on that table for given date (ideally should be 0 or 1) 
  SELECT COUNT(bookedTable)
  INTO bookedTable
  FROM Bookings WHERE DATE(date) = target_date and tableNo = target_table;
  -- Free table
  IF bookedTable > 0 THEN
    SELECT CONCAT( "Table ", target_table, " is already booked.") AS "Booking status";
  -- Booked table
  ELSE 
    SELECT CONCAT( "Table ", target_table, " is not booked.") AS "Booking status";
  END IF;
END;
""")

In [ ]:
cursor.execute("""
CALL CheckBooking('2024-01-05', 2);
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 3.3 - Verify a booking, and decline any reservations for tables that are already booked under another name

In [ ]:
cursor.execute("""
CREATE PROCEDURE AddValidBooking (target_date DATE, target_table INT)
BEGIN
	DECLARE bookedTable INT DEFAULT 0;
	START TRANSACTION;
	SELECT COUNT(*) INTO bookedTable
	FROM Bookings
	WHERE DATE(date) = target_date AND tableNo = target_table;
	IF bookedTable > 0 THEN
		ROLLBACK;
		SELECT 'Table is already booked on the specified date. Booking canceled.' AS Result;
	ELSE
		INSERT INTO Bookings (date, TableNo) VALUES (target_date, target_table);
		COMMIT;
		SELECT 'Booking successful. Table reserved for the specified date.' AS Result;
	END IF;
END;
""")

In [ ]:
cursor.execute("""
CALL AddValidBooking('2024-11-12', 5);
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 4.1 - Create a new procedure called AddBooking to add a new table booking record

In [ ]:
cursor.execute("""
CREATE PROCEDURE AddBooking (target_booking_id INT, target_customer_id INT, target_date DATE, target_table INT)
BEGIN
    INSERT INTO Bookings (id, date, tableNo)
    VALUES (target_booking_id, target_date, target_table);
    INSERT INTO Orders (bookingId, customerId)
    VALUES (target_booking_id, target_customer_id);
    SELECT 'New Booking Added' AS Result;
END;
""")

In [ ]:
cursor.execute("""
CALL AddBooking(9,3,'2024-10-10',5);
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 4.2 - Create a new procedure called UpdateBooking to update existing bookings in the booking table

In [ ]:
cursor.execute("""
CREATE PROCEDURE UpdateBooking (target_booking_id INT, target_date DATE)
BEGIN
    UPDATE Bookings SET date = target_date WHERE id = target_booking_id; 
    SELECT CONCAT( "Booking ", target_booking_id, " updated") AS "Confirmation";
END;
""")

In [ ]:
cursor.execute("""
CALL UpdateBooking(3, '2024-01-09');
""")
results = cursor.fetchall()
for result in results:
    print(result)

Module 2 - Task 4.3 - Create a new procedure called CancelBooking to cancel a booking

In [ ]:
cursor.execute("""
CREATE PROCEDURE CancelBooking (target_booking_id INT)
BEGIN
    DELETE FROM Orders WHERE bookingId = target_booking_id;
    DELETE FROM Bookings WHERE id = target_booking_id;
    SELECT CONCAT( "Booking ", target_booking_id, " cancelled") AS "Confirmation"; 
END;
""")

In [ ]:
cursor.execute("""
CALL CAncelBooking(3);
""")
results = cursor.fetchall()
for result in results:
    print(result)

Terminate cursor and connection

In [ ]:
cursor.close()
connection.commit()
connection.close()