# Database setup

Import libraries

In [ ]:
import mysql.connector as connector

Connect to localhost DB

In [ ]:
connection = connector.connect(user = "mysql", password = "mysql")
cursor = connection.cursor()
print("Connected to DB")

Delete DB if exists to grant a fresh start

In [ ]:
cursor.execute("DROP DATABASE IF EXISTS LittleLemonDB")

Create and Use DB

In [ ]:
cursor.execute("CREATE DATABASE LittleLemonDB") 
print("Little Lemon DB created")

In [ ]:
cursor.execute("USE LittleLemonDB")

Generate tables using SQL code generated from the ER diagram with the Forward Engineer function of MySQL Workbench

In [ ]:
cursor.execute("""
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema LittleLemonDB
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema LittleLemonDB
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `LittleLemonDB` DEFAULT CHARACTER SET utf8 ;
USE `LittleLemonDB` ;

-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Customers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Customers` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `fullName` VARCHAR(45) NOT NULL,
  `phoneNumber` VARCHAR(45) NULL,
  `email` VARCHAR(45) NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Bookings`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Bookings` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `date` DATETIME NOT NULL,
  `tableNo` INT NOT NULL,
  `customerId` INT NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_Bookings_1_idx` (`customerId` ASC) VISIBLE,
  CONSTRAINT `fk_Bookings_1`
    FOREIGN KEY (`customerId`)
    REFERENCES `LittleLemonDB`.`Customers` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`MenuItems`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`MenuItems` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `courseName` VARCHAR(45) NOT NULL,
  `starterName` VARCHAR(45) NOT NULL,
  `dessertName` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Menus`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Menus` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `menuItemsId` INT NOT NULL,
  `name` VARCHAR(45) NOT NULL,
  `cuisine` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_Menus_1_idx` (`menuItemsId` ASC) VISIBLE,
  CONSTRAINT `fk_Menus_1`
    FOREIGN KEY (`menuItemsId`)
    REFERENCES `LittleLemonDB`.`MenuItems` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Orders`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Orders` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `menuId` INT NOT NULL,
  `customerId` INT NOT NULL,
  `totalCost` FLOAT NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_Orders_1_idx` (`menuId` ASC) VISIBLE,
  INDEX `fk_Orders_2_idx` (`customerId` ASC) VISIBLE,
  CONSTRAINT `fk_Orders_1`
    FOREIGN KEY (`menuId`)
    REFERENCES `LittleLemonDB`.`Menus` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Orders_2`
    FOREIGN KEY (`customerId`)
    REFERENCES `LittleLemonDB`.`Customers` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`OrderStatus`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`OrderStatus` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `orderId` INT NOT NULL,
  `date` DATETIME NOT NULL,
  `status` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE,
  INDEX `fk_OrderStatus_1_idx` (`orderId` ASC) VISIBLE,
  CONSTRAINT `fk_OrderStatus_1`
    FOREIGN KEY (`orderId`)
    REFERENCES `LittleLemonDB`.`Orders` (`id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `LittleLemonDB`.`Staff`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `LittleLemonDB`.`Staff` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `fullName` VARCHAR(45) NOT NULL,
  `role` VARCHAR(45) NOT NULL,
  `salary` FLOAT NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC) VISIBLE)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
""")

Insert dummy data in the tables

In [ ]:
cursor.execute("""
INSERT INTO Customers (fullName, phoneNumber, email)
VALUES
('Anna Iversen','+123456','a.iversen@mail.com'),
('Joakim Iversen', '+138756', 'j.iversen@mail.com'),
('Vanessa McCarthy', '+144459', 'v.mccarthy@mail.com'),
('Marcos Romero', '+121006', 'm.romero@mail.com'),
('Hiroki Yamane', '+100437', 'h.yamane@mail.com'),
('Diana Pinto', '+199559', 'd.pinto@mail.com');      

INSERT INTO Bookings (date, tableNo, customerId)
VALUES
('2024-01-05 19:30:00',1,1),
('2024-01-05 19:30:00',6,3),
('2024-01-05 20:00:00',3,4),
('2024-01-05 20:00:00',8,5),
('2024-01-05 20:30:00',2,6);                    

INSERT INTO MenuItems (courseName, starterName, dessertName)
VALUES
('Olives','Olive Starters','Olive Dessert'),
('Flatbread','Bread Starters', 'Olive Dessert'),
('Minestrone', 'Soup Starters', 'Olive Dessert'),
('Tomato bread','Tomato Starters', 'Olive Dessert'),
('Falafel', 'Falafel Starters', 'Olive Dessert');
               
INSERT INTO Menus (menuItemsId, name, cuisine)
VALUES
(1, 'Olives menu','Italian'),
(2, 'Flatbread menu','Italian'),
(3, 'Minestrone menu', 'Italian'),
(4, 'Tomato bread menu','American'),
(5, 'Falafel menu', 'Arab');               

INSERT INTO Orders (menuId, customerId, totalCost)
VALUES
(2, 1, 100),
(3, 4, 150),
(3, 2, 120),
(1, 5, 35),
(4, 3, 80);     
                        
INSERT INTO OrderStatus (orderId, date, status)
VALUES
(1, '2024-01-05 20:00', 100),
(2, '2024-01-05 20:00', 150),
(3, '2024-01-05 20:00', 120),
(4, '2024-01-05 21:00', 35),
(5, '2024-01-05 21:00', 80);  

INSERT INTO Staff (fullName, role, salary)
VALUES
('Mario Rossi', 'Owner', 100000),
('Luigi Bianchi', 'Chef', 70000),
('Marco Verdi', 'Waiter', 40000); 
""")

In [ ]:
cursor.close()

In [ ]:
connection.commit()